<!DOCTYPE html>
<html>
  <head>
    <title>Get Wallpaper</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Get Wallpaper', root_path, class: 'navbar-brand' %>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Discovery</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% Category.all().each do |c| %>
                <li><%= link_to c.name, list_category_wallpapers_path(c) %></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <%= form_tag filter_wallpapers_path, method: :get, class: 'navbar-form navbar-left', role: 'search', authenticity_token: false, enforce_utf8: false do %>
            <div class="form-group">
              <%= text_field_tag :tag, nil, class: 'form-control', placeholder: 'Filter By Tag' %>
            </div>
            <button type="submit" class="btn btn-default">Filter</button>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if @current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= @current_user.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Favorites', favorite_wallpapers_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Upload', new_wallpaper_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Register', register_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <hr />
    <div class="text-center">
      Copyright
      &copy;
      XnnYygn 2014
      <a href="https://twitter.com/XY8080" target="_blank">Twitter</a>
      <a href="https://github.com/xnnyygn" target="_blank">GitHub</a>
      <a href="http://blog.xnnyygn.in" target="_blank">Blog</a>
    </div>
  </body>
</html>