<% if @wallpapers_recommend and @wallpapers_recommend.any? %>
<div class="panel panel-default">
  <div class="panel-heading">
    Recommend
    <span class="pull-right">
      <%= link_to 'More...', recommend_wallpapers_path %>
    </span>
  </div>
  <div class="panel-body wallpaper-thumbnail-container">
    <%= render partial: 'wallpaper_thumbnail_item', collection: @wallpapers_recommend, as: :wallpaper %>
  </div>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    Latest
    <span class="pull-right">
      <%= link_to 'More...', latest_wallpapers_path %>
    </span>
  </div>
  <div class="panel-body wallpaper-thumbnail-container">
    <%= render partial: 'wallpaper_thumbnail_item', collection: @wallpapers_latest, as: :wallpaper %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Popular
    <span class="pull-right">
      <%= link_to 'More...', popular_wallpapers_path %>
    </span>
  </div>
  <div class="panel-body wallpaper-thumbnail-container">
    <%= render partial: 'wallpaper_thumbnail_item', collection: @wallpapers_popular, as: :wallpaper %>
  </div>
</div>
<%= render 'download_dialog_modal' %>