<h2><%= @wallpaper.title %></h2>
<p>Uploaded At <%= @wallpaper.created_at %> By <%= @wallpaper.uploader.name %></p>
<%= image_tag thumbnail_wallpaper_path(@wallpaper, width: 500, height: 300), alt: 'Image', class: 'wallpaper-thumbnail-large' %>
<div>
<% @wallpaper.available_resolution().each do |r| %>
<%= link_to "#{r[0]}x#{r[1]}", download_wallpaper_path(@wallpaper, width: r[0], height: r[1]), target: '_blank' %>
<% end %>
</div>